:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
}

/*UPDATE-COM-PUT*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FEFFE4;
}

/*----------------------FORMS---------------*/

header h1 {
    color: #000;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2.5rem;
}

h1 {
    color: #000;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5rem;
}

form {
    width: 420px;
    height: 439px;
    flex-shrink: 0;
    margin: auto;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0 59px 56px;
}

::placeholder {
    color: #9A9A9A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
}

.caixa-form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.label-caixa{
    font-weight: 800;
    margin-bottom: 5px;
}

/* --------------------Botões-------------------------*/
button#btnAtualizar {
    margin-top: 1rem;
    margin-left: 2rem;
}

#btnAtualizar:active {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
}

#btnAtualizar:disabled {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #CAE6FF;
    border: none;
}

#btnAtualizar:houver {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#btnAtualizar {
    width: 167px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

button#reset {
    margin-left: 1.4rem;
}

#reset:active {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
}

#reset:disabled {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FFE2E2;
    color: #AEAEAE;
    border: none;
}

#reset:houver {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#reset {
    width: 118px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
/*----------------------PRODUTOS---------------*/

#listaProdutos {
    display: flex;
    height: 38px;
    flex-direction:column;
    flex-shrink: 0;
    color: #000;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    padding: 30px;
}

li {
    margin: auto;
}

#id {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#descricao {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#preco {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#imagem {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.produto {
    width: 1332px;
    height: 43px;
    flex-shrink: 0;
    list-style: none;
    border-bottom: 1px solid #000;
    background: #FFF;
    margin: auto;
    display: flex;
}

.produto:nth-child(even) {
    background: #fff;
}

.produto:nth-child(odd) {
    background: #fff1c1;
}

.produto li:nth-child(2) {
    text-align: start;
    margin-left: 2.4rem;
    width: 10rem;
}

.produto li:nth-child(3) {
    text-align: start;
    width: 90%;
}

.produto li:nth-child(4) {
    text-align: end;
    width: 10rem;
    margin-right: 2.4rem;
}

/*a {
    text-decoration: none;
    color: var(--main-color);
}

 DELETE-COM-DELETE

.produto {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

div#listaProdutos {
    border-style: outset;
}

.botao-delete {
    border-style: outset;
    background-color: var(--sub-color);
}

INDEX

div#listaProdutos {
    border-style: outset;
}

CREATE-COM-POST

form {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    align-items: center;
}

input {
    margin: 10px;
}

#btnCadastrar {
    border-style: solid;
    margin: 10px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

div#listaProdutos {
    border-style: outset;
}*/