:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    --cor-fundo: #fff;
    --cor-form:  #fff;
    --cor-texto: #000;
    --cor-da-tabela-1: #fff;
    --cor-da-tabela-2: #fff1c1;
    
}
[data-theme='dark'] {
    --cor-fundo: #545454;
    --cor-form:  #3f3f3f;
    --cor-texto: #fff;
    --cor-da-tabela-1: #3f3f3f;
    --cor-da-tabela-2: #fcda6b;
}

/*UPDATE-COM-PUT*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FEFFE4;
    background-color: var(--cor-fundo);
    transition: background .5s;
}

/* ------------------NAVBAR---------------- */

nav {
    display: inline-block;
    width: 100%;
    height: 10px;
}

.parent-box {
    display: flex;
    padding: 20px 20px 20px 20px;
}

.header-link {
    display: flex;
    font-size: 12pt;
    gap: 5rem;
    padding-left: 0;
    align-items: center;
    list-style: none;
}

.header-link a {
    color: var(--cor-texto);
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
}

.header-link a:hover {
    color: #8f8f8f;
}

.texto-tema {
    color: var(--cor-texto);
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0;
}

/*----------------------FORMS---------------*/

header h1 {
    color: var(--cor-texto);
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2.5rem;
}

h1 {
    color: var(--cor-texto);
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

form {
    width: 420px;
    height: 439px;
    flex-shrink: 0;
    margin: auto;
    border-radius: 12px;
    background: var(--cor-form);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0 59px 56px;
}

::placeholder {
    color: #9A9A9A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
}

.caixa-form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.label-caixa{
    font-weight: 800;
    margin-bottom: 5px;
    color: var(--cor-texto);
}

/* --------------------Botões-------------------------*/
button#btnAtualizar {
    margin-top: 1rem;
    margin-left: 2rem;
}

#btnAtualizar:active {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
}

#btnAtualizar:disabled {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #CAE6FF;
    border: none;
}

#btnAtualizar:houver {
    width: 167px;
    height: 46px;
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#btnAtualizar {
    width: 167px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

button#reset {
    margin-left: 1.4rem;
}

#reset:active {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
}

#reset:disabled {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FFE2E2;
    color: #AEAEAE;
    border: none;
}

#reset:houver {
    width: 118px;
    height: 46px;
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#reset {
    width: 118px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
/*----------------------PRODUTOS---------------*/

#listaProdutos {
    display: flex;
    height: 38px;
    flex-direction:column;
    flex-shrink: 0;
    color: #000;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    padding: 30px;
}

li {
    margin: auto;
}

#produto-1 {
    margin-top: 20px;
}

#id {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#descricao {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#preco {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

#imagem {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.produto {
    width: 1332px;
    height: 43px;
    flex-shrink: 0;
    list-style: none;
    border-bottom: 1px solid #000;
    background: #FFF;
    margin: auto;
    display: flex;
}

.produto:nth-child(even) {
    background: var(--cor-da-tabela-1);
    color: var(--cor-texto);
}

.produto:nth-child(odd) {
    background: var(--cor-da-tabela-2);
}

.produto li:nth-child(2) {
    text-align: start;
    margin-left: 2.4rem;
    width: 10rem;
}

.produto li:nth-child(3) {
    text-align: start;
    width: 90%;
}

.produto li:nth-child(4) {
    text-align: end;
    width: 10rem;
    margin-right: 2.4rem;
}

/* ----------------TEMA CLARO/ESCURO------------------ */

.bts.bts-base {
    margin: auto;
    padding: 0;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all .5s;
}

.bts-base.light {
    background: #545454;
}

.bts-base.dark {
    background: #d9d9d9;
}

.bts-slider {
    margin: 5px;
    padding: 0;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.bts-slider.light {
    background: #d9d9d9;
    transition: all .5s;
}

.bts-slider.dark {
    background: #545454;
    transform: translateX(50px);
    transition: all .5s;
}

/*a {
    text-decoration: none;
    color: var(--main-color);
}

 DELETE-COM-DELETE

.produto {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

div#listaProdutos {
    border-style: outset;
}

.botao-delete {
    border-style: outset;
    background-color: var(--sub-color);
}

INDEX

div#listaProdutos {
    border-style: outset;
}

CREATE-COM-POST

form {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    align-items: center;
}

input {
    margin: 10px;
}

#btnCadastrar {
    border-style: solid;
    margin: 10px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

div#listaProdutos {
    border-style: outset;
}*/